[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpython = "*"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
django-rest-framework = "*"
coreapi = "*"
faker = "*"
tqdm = "*"

[requires]
python_version = "3.7"
