body {
  background-color: #f9f9f9;
}
.Blog {
  text-align: center;
}

.Blog-header {
  background-color: white;
  color: black;
  height: 50px;
  padding: 20px;
}

.Blog-title {
  font-size: 2em;
  font-family: 'Squada One';
}

.Blog-intro {
  font-size: large;
}
