body {
  background-color: #f9f9f9;
}
.Main {
  text-align: left;
}

.Blog-header {
  background-color: white;
  color: black;
  height: 50px;
  padding: 20px;
}

.Blog-title {
  text-align: center;
  font-size: xx-large;
  font-family: 'Squada One';
}

.Post {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  color: black;
  height: 300px;
}

.Post-title {
  font-size: 2em;
  font-family: 'Raleway';
  font-weight: 400;
  background-color: white;
  color: black;
  padding: 20px;
}

.Post-tags {
  font-size: 0.8em;
  font-family: 'Raleway';
  background-color: white;
  color: black;
}

.Post-author-avatar {
  align-content: flex-end;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.box {
  display: flex;
  align-items: top;
}
.box2 {
  display: flex;
  align-items: flex-end;
}
